.nike{
    background-color: hwb(0 100% 2%);
    margin: 10px;
    padding: 15px;
    }

    
    .btbuy {
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: 40px;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: 40px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 5em;
    z-index: 2;
    }

    .btbuy:hover {
    color: #fff;
    }

    .btbuy .btbuyspan {
    align-items: center;
    background: #0e0e10;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    }

    .btbuy:hover .btbuyspan {
    background: transparent;
    }
    .limited{
    color: chocolate;
    font-size: 24px;
    }
   .select1{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: chocolate;
    }
    .select2{
    border-radius: 10%;
    font-size: 15px;
    margin: 10px;
    padding: 0px;
    }
   
