.box{
    position: absolute;
}
.time{
    font-size: 14px;
    
    position: absolute;
    margin-top: -87.2% ;
    margin-left: 36%;
}
.bi-reception-4{
    position: absolute;
    margin-top: -87.5% ;
    margin-left: 56.5%;
}
.bi-wifi{
    position: absolute;
    margin-top: -87.5% ;
    margin-left: 59.5%;
    
}
.bi-battery-full{
    position: absolute;
    margin-top: -87.5% ;
    margin-left: 63%;
    
}
.p-tage{
    position: absolute;
    margin-top: -82% ;
    margin-left: 34.2%;
    font-size: 14px;
    color: blueviolet;
   
}
.bi-pencil-square{
    position: absolute;
    margin-top: -82% ;
    margin-left: 63.5%;
}
.h1-messages{
    position: absolute;
    margin-top: -78% ;
    margin-left: 34.2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.search-bar {
    position: absolute;
    margin-top: -74% ;
    margin-left: 34.2%;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    width: 180px;
    height: 15px;
    background-color: #e9e3e3af;
  }
  
  .search-bar input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    background-color: transparent;
    padding: 5px;
    margin-left: 5px;
  }
  
  .search-bar button {
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.bi-mic-fill{
    position: absolute;
    margin-top: 0% ;
    margin-left:-15%;
}
.bi-search{
    position: absolute;
    margin-top: -2px ;
    margin-left:-3.5%;
}
.img-nha{
    position: absolute;
    margin-top: -69%;
    margin-left:40%;
    width: 38px;
    border-radius: 50%;
}
.img-nobody{
    position: absolute;
    margin-top: -69%;
    margin-left: 33%;
    width: 38px;
    border-radius: 50%;
}
.img-hacker{
    position: absolute;
    margin-top: -69%;
    margin-left: 47%;
    width: 38px;
    border-radius: 50%;
}
.img-black{
    position: absolute;
    margin-top: -69%;
    margin-left: 54%;
    width: 38px;
    border-radius: 50%;
}
.img-boy{
    position: absolute;
    margin-top: -69%;
    margin-left: 61%;
    width: 38px;
    border-radius: 50%;
}
.note{
    position: absolute;
    margin-top: -62.6%;
    margin-left: 33%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.473);
}
.nha{
    position: absolute;
    margin-top: -62.6%;
    margin-left: 41.6%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.718);
}
.man{
    position: absolute;
    margin-top: -62.6%;
    margin-left: 48.6%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.718);
}
.jem{
    position: absolute;
    margin-top: -62.6%;
    margin-left: 55.6%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.718);
}
.boy{
    position: absolute;
    margin-top: -62.6%;
    margin-left: 62.6%;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.718);
}
.img-rose{
    position: absolute;
    margin-top: -60%;
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.text-rose{
    position: absolute;
    margin-top: -59%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.text-rose-p{
    position: absolute;
    margin-top: -57.2%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
    
}
.time-rose{
    position: absolute;
    margin-top: -57.2%;
    margin-left: 53%;
    font-size: 9px;
    color: black;
    
}
.img-jiso{
    position: absolute;
    margin-top: -53.5%;
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.text-jiso{
    position: absolute;
    margin-top: -53%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.text-jiso-p{
    position: absolute;
    margin-top: -51%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
    
}
.time-jiso{
    position: absolute;
    margin-top: -51%;
    margin-left: 51%;
    font-size: 9px;
    color: black;
    
}
.time-cute{
    position: absolute;
    margin-top: -43.9%;
    margin-left: 50.5%;
    font-size: 9px;
    color: black;
    
}
.text-cute-p{
    position: absolute;
    margin-top: -43.9%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
}
.text-cute{
    position: absolute;
    margin-top: -45.8%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.img-cute{
    position: absolute;
    margin-top: -46.6%;
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.img-kiki{
    position: absolute;
    margin-top: -40%;
    border: 0.1px solid rgba(0, 128, 0, 0.433);
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.text-kiki{
    position: absolute;
    margin-top: -38.9%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.text-kiki-p{
    position: absolute;
    margin-top: -36.9%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
}
.time-kiki{
    position: absolute;
    margin-top: -36.9%;
    margin-left: 48.5%;
    font-size: 9px;
    color: black;
    
    /* bbe contain  */

}
.img-bbe{
    position: absolute;
    margin-top: -33%;
    border: 0.1px solid rgba(0, 128, 0, 0.433);
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.text-bbe{
    position: absolute;
    margin-top: -32%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.text-bbe-p{
    position: absolute;
    margin-top: -30%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
}
.time-bbe{
    position: absolute;
    margin-top: -30%;
    margin-left: 45.5%;
    font-size: 9px;
    color: black;
    
}

.img-bee{
    position: absolute;
    margin-top: -26%;
   
    margin-left: 33%;
    width: 35px;
    border-radius: 50%;
}
.text-bee{
    position: absolute;
    margin-top: -25%;
    margin-left: 40%;
    font-size: 9px;
    font-weight: bold;
}
.text-bee-p{
    position: absolute;
    margin-top: -23.2%;
    margin-left: 40%;
    font-size: 9px;
    color: black;
    font-weight: bold;
}
.time-bee{
    position: absolute;
    margin-top: -23.2%;
    margin-left: 58.5%;
    font-size: 9px;
    color: black;
    
}
.container{
    position: absolute;
    margin-top: -13.6%;
    margin-left: 43%;
    border-radius: 5px;
    width: 90px;
    height: 5px;
    color: black;
    background-color: black;
}